<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Preview</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>State</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let plant of plants" (click)="toggleSelect(plant)">
                        <td><input type="checkbox" class="form-contorl" [checked]="isSelected(plant.id)" [disabled]="plant.state == 3"></td>
                        <td><img class="img preview" [src]="plant.previewUrl"></td>
                        <td>{{plant.name}}</td>
                        <td>{{plant.location}}</td>
                        <td>{{typeState(plant.state)}}</td>
                        <td>{{plant.lastUpdated | date:'short' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="selectedPlants.length > 0">
        <div class="col text-right">
            <button (click)="startSelected()" class="btn btn-sm btn-primary">Water</button>
            <span class="mr-1"></span>
            <button (click)="stopSelected()" class="btn btn-sm btn-danger">Cancel</button>
        </div>
    </div>
</div>